# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

#Hardhat files
cache
artifacts

# VS Code
.vscode

# secrets... shhhh...
secrets.json